<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contact</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link rel="icon" type="image/jpeg" href="../img/soraicon.png" />
  <link href="https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
  <!--Font Awesome-->
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
  <nav class="mb-4 navbar navbar-expand-lg navbar-light pink lighten-4 fixed-top">
    <a class="navbar-brand" href="index.html">Castle Oblivion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
             <a class="nav-link font-bold" href="views/store.html">Destiny Store</a>
          </li>
          <li class="nav-item">
              <a class="nav-link font-bold" href="#">Dolls</a>
          </li>
          <li class="nav-item">
              <a class="nav-link font-bold" href="views/contact.html">Contact</a>
          </li>
        </ul>
          

    </div>
</nav>
 <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
     <img src="../img/Castle_Oblivion.png" width="30%" alt="Castle">
   </div>
 </div>
    


<div class="col-md-12">
        <h2 class="text-uppercase mt-3 font-weight-bold text-white">CONTATTACI</h2>
        <form action="../assets/contact.php" method="POST">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control mt-2" placeholder="Nome/Società" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control mt-2" placeholder="Oggetto" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="email" class="form-control mt-2" placeholder="Email" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="number" class="form-control mt-2" placeholder="Telefono" required>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Inserisci testo" rows="3" required></textarea>
              </div>
            </div>
            <div class="col-12">
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                <label class="form-check-label" for="invalidCheck2">
                  Accetta le condizioni
                </label>
              </div>
              <input class="boton_enviar" type="submit" name="enviar">
          <input class="boton_borrar" type="reset" value="Borrar">
        
            </div>
            </div>
  </form>

</div>
  </div> 
<hr />
   <footer class="footer text-center">
              <div class="container">
                  <div class="row">
                      <!-- Footer Location-->
                      <div class="col-lg-4 mb-5 mb-lg-0">
                        <img src="../img/kairisorariku.png" width="100%" alt="kairi"> 
                      </div>
  <div class="col-lg-4 mb-5 mb-lg-0 text-center">
      <h4 class="mb-4">Redes Sociales</h4>
      <a class="btn btn-outline-light btn-social mx-1" href="https://my.playstation.com/profile/Cithria" target="blank"><i class="fab fa-playstation"></i></a>
      <a class="btn btn-outline-light btn-social mx-1" href="https://steamcommunity.com/id/SpiritBlossom" target="blank"><i class="fab fa-steam"></i></a>
      <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/xayah/" target="blank"><i class="fab fa-fw fa-linkedin-in"></i></a>
  </div>
  <!-- Footer About Text-->
  <div class="col-lg-4">
    <img src="../img/sinon.png" width="100%" alt="Sinon">
  </div>
  </div>
  </div>
  </footer>
<br>
<div class="foot text-center">
    <p>Eugenia Simpson ©  2020</p>
  </div>


</div>
</body>
</html>