@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
/*Indexito*/
div.container {
 color: black;
 background-color: #dcbfff;
 width: 100%;
 box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.navbar, #titleid {
  font-family: 'Mystery Quest', cursive;
}

body {
  font-family: 'Handlee', cursive;
}

.iframekh {
  width: 100%;
  height: 300px;
}

.iframegame {
  width: 100%;
}


.img-fluid {
  max-width: 100%;
  height: auto;
}


#content_d {
  font-family: Times New Roman;
  width: 225px;
  background: linear-gradient(#fff, #ccffff, #5a5a5a);
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 45px;
  margin-right: 30px;
  box-shadow: 5px 10px 7px rgba(0,0,0,0.5);

}

#content_d h1{
    margin: 2px;
  text-align: center;
  font-family: "Arial";
  font-size: 20px;
  margin-top: 0;
    padding: 2px;
    border-bottom: 1px solid #000;
}

/*Contact*/

#contacto{
  background-color: #FFFFE0;
  letter-spacing: 2px;
  border: 1px solid black;
  height: 50%;
  }


.boton_enviar, .boton_borrar{
  width: 20%;
  float: right;
  margin-right: 97px; 
  border: 1px solid #000;
  border-radius: 5px;
  background: linear-gradient(#fff, #ccffff, #5a5a5a);
}
.boton_enviar:hover, .boton_borrar:hover{
  width: 20%;
  float: right; 
  border: 1px solid #000;
  border-radius: 5px;
  background: linear-gradient(#5a5a5a, #ccffff, #fff);
}

/*Footercito*/
.foot {
  font-family: 'Mystery Quest', cursive;
  background-color: black;
  color: white;
  padding: 30px;
  border-radius: 10px;
}

/*Mediaqueries*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
  
#contacto{padding-bottom: 800px;}


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
#contacto{padding-bottom: 800px;}

}


@media (min-width: 992px) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}
.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(238, 244, 173, 0.9);
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}
.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

.portfolio-modal .portfolio-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .portfolio-modal .portfolio-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
.portfolio-modal .close {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1rem;
  font-size: 3rem;
  line-height: 3rem;
  color: #FF8BFB;
  opacity: 1;
}

#contacto{padding-bottom: 200px;}

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
 

}